table {
	font-family: arial, sans-serif;
   border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
	width:100%;
}

	th{
		background-color:blue;
		color:white;
	}

td,th{
  
  text-align: left;
  padding: 8px;
	
}

tr:nth-child(even) {
  background-color: #dddddd;
}